@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="ShowDialog">ダイアログ表示</button>
<button @onclick="Notify">通知表示</button>

@code {
    [Inject] public required DialogService DialogService { get; set; }

    public async Task ShowDialog()
    {
        await Task.Delay(1000);

        DialogService.ShowDialog(new PrimeDialogContext
        {
            ComponentType = typeof(SampleDialog),
            Identifier = Guid.NewGuid().ToString(),
            Index = 0,
            Parameters = new Dictionary<string, object>()
        });
    }

    [Inject] public required NotificationService NotificationService { get; set; }

    public async Task Notify()
    {
        await Task.Delay(1000);
        NotificationService.Notify("サマリ", "詳細です");
    }

}