<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="_content/CSStack.PrimeBlazor.Bootstrap/style/standard.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="CSStack.PrimeBlazor.Bootstrap.TestApp.styles.css"/>
    <HeadOutlet @rendermode="InteractiveWebAssembly"/>
</head>

<body>
<Routes @rendermode="InteractiveWebAssembly"/>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/CSStack.PrimeBlazor.Bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
